- content_for :title do
  Side by side

%article.project{ data: 'current' }
  = render 'project_header'
  = render 'project_toolbar'
  = render 'shared/messages'
  = render 'breadcrumb'

  %section
    %div
      - diff1 = @bloblist.first
      - diff2 = @bloblist.second
      comparing
      = diff1.second.oid[0..7] + '..' + diff2.second.oid[0..7]
      #side_first
        = data_image_tag(diff1.first, '100%', nil)
      #side_second
        = data_image_tag(diff2.first, '100%', nil)
