%h2
  My Projects
%ul#myprojects
  - @projects.each do |p|
    %li
      .project-thumb
        =  # link_to url_for(p) do
        - # FIXME
        - # Once the Glimage model drop isn't causing any ugly consequences,
        - # fix this so it works normally. 

      %h3
        = link_to p.name, url_for(p)
      .meta
        Created
        -# um, this evalutes backwards, i'm not sure why
        - if p.created_at > 1.year.ago
          = time_tag p.created_at, :format=>'%B %d'
        - else 
          = time_tag p.created_at, :format=>'%B %d, %Y'
        %br
        Last updated
        = distance_of_time_in_words_to_now p.updated_at
        ago

      
