-#
  Show the user's dashboard.
  Currently only has the upload image form
  and the path to the user's repo

- content_for :title do
  Dashboard

= render 'shared/glimageshow'

.center
  #dashboard
    = render 'projectlist'
          
  #sidebar
    %h2 toolbox
    %ul
      %li
        = link_to 'Add a new project', new_project_path
      -# %li#repo_link
        = File.expand_path @user.repo.path
      %li
        = link_to 'Write a glitterpost!', new_glitterpost_path
        

