-#
  Show the user's dashboard.
  Currently only has the upload image form
  and the path to the user's repo

- content_for :title do
  Dashboard

#carousel
  %p.notice
    = notice
  %p.alert
    = alert
#maincolumn
  %h2 Create a new project
  #upload
    = form_for @project do |f|
      = f.text_field :name, :placeholder => "Name for your project"
      #upload_widget
        = f.fields_for :image do |i|
          .fakeupload
            %input{:name => 'fakeupload', :type => "text", :placeholder => "Choose an SVG mockup file"}
          = i.file_field :file
          
#sidebar
  #repo_link
    = File.expand_path @user.repo.path

<<<<<<< HEAD
#upload
  = form_for @project do |f|
    = label_tag :name, "Project name"
    = f.text_field :name
    = label_tag :image, "Select image to upload"
    = f.fields_for :image do |i|
      = i.file_field :file
    = f.submit "Save"
=======
>>>>>>> 9ce5d7b625274761f3548d508d9e0cb19f57f352
