<div class='header' id='top'>
  <img alt="Logo" id="logo" src="/assets/logo.png" />
</div>

<%= render 'shared/github_banner' %>

<div class='center'>
  <div id='maincolumn'>
    <%= render 'shared/messages' %>
			<%= form_tag(session_url) do %>

  			<div>
    			<label for="openid_identifier">OpenID:</label>
    			<%= text_field_tag "openid_identifier", nil, :class=>"openid"%>
  			</div>

				<div>
					<%= submit_tag 'Sign in', :disable_with => "Signing in" %>
				</div>
					
			<% end %>
	</div>
</div>
