- content_for :title do
  = current_user.username.titleize

%article
  %header
    %h1
      = avatar current_user.email
      = current_user.username
    %h2
      = precede '@' do
        = current_user.username

  = render 'shared/messages'
  = render 'users/user_toolbar'

  %section
    %div
      .option
        = form_for(resource,
                           as: resource_name,
                           url: registration_path(resource_name),
                           html: { method: :put }) do |f|
          = devise_error_messages!
          %div
            = f.label :name
            = f.text_field :name, autofocus: true, placeholder: current_user.name
          %div
            = f.label :email
            = f.email_field :email
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          %div
            = f.label :current_password
            %i (we need your current password to confirm your changes)
            = f.password_field :current_password, autocomplete: 'off'
          %div
            = f.submit 'Update'

      %aside
        %h1
          User Settings
        %nav
          %ul
            %li.active
              = link_to 'Profile', edit_user_registration_path
            %li
              = link_to 'Identities', identities_path
            -#
              %li
                = link_to 'Passwords'
              %li
                = link_to 'SSH Keys', identities_path
              %li
                = link_to 'Projects', identities_path