- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML)

%div
  %header
    %h1
      = comment.user.username
  %article
    %p
      = raw markdown.render comment.body
  %footer
    %p
      = link_to 'Issue?', "#{@project.urlbase}/issues/new?desc=#{comment.body}"

      - if user_signed_in? && current_user.id == comment.user.id
        = link_to 'Delete?',
                           comment_path(comment.id),
                           method: 'delete',
                           data: { confirm: 'Are you sure?' }
    = distance_of_time_in_words_to_now comment.created_at
    ago


