= div_for comment, data: { id: comment.id } do
  %header
    %h1
      = comment.user.username
  .markdown
    = markdown comment.body
  %footer
    %p
      = link_to 'Issue?', "#{@project.urlbase}/issues/new?desc=#{comment.body}"

      - if can? :destroy, comment
        = link_to 'Delete?',
                           user_project_comment_path(@project.user, @project, comment.id),
                           method: 'delete',
                           data: { confirm: 'Are you sure?' }
    = distance_of_time_in_words_to_now comment.created_at
    ago
