= form_for(comment, remote: ajax) do |f|
  = f.hidden_field(:polycomment_type, :value => type)
  = f.hidden_field(:polycomment_id, :value => id)
  = f.hidden_field(:issue, :value => false)
  = f.text_area :body, :placeholder => 'Add your comment...'
  = f.submit