%section.comments
  %section.showcomments
    = render partial: 'comments/comment', collection: @comments
    = will_paginate @comments
  %section.newcomment
    - if can? :create, @comment
      %div
        = form_for([@project.user, @project, comment], remote: true) do |f|
          = f.hidden_field(:polycomment_type, value: type)
          = f.hidden_field(:polycomment_id, value: id)
          = f.hidden_field(:issue, value: false)
          = hidden_field_tag(:url, request.original_fullpath)
          .expandingArea
            %pre
              %span
            = f.text_area :body, placeholder: 'In my opinion...'
          = f.submit class: 'comment_submit'
    - else
      %div
        'You need to login to be able to comment!'
        = link_to 'Login now!', new_user_session_path
