- content_for :title do
  Search

%article.project
  = render 'projects/project_header'
  = render 'projects/project_toolbar'
  = render 'shared/messages'
  #tabs
    %ul
      %li.item
        %a{ href: '#files' }
          Files
      %li.item
        %a{ href: '#issues' }
          Issues
    %section.album
      #files
        - @directories.each do |dir|
          %div
            %p{ title: dir[:name] }
              = link_to project_tree_path(@project, nil, dir[:name]) do
                %img{ src: '/directory.png' }
                %span.name
                  = dir[:name]

        - @images.each do |image|
          %div
            %p{ title: image[:name] }
              = link_to image[:path], id: image[:name], class: 'swipebox' do
                %img{ src: "#{image[:path]}" }
                %span.name
                  = link_to  image[:name], project_blob_path(@project, @oid, image[:name])
    %section
      #issues
        .option.feed
          %header
            - @issues.each do |issue|
              %div
                %header
                  %h2
                    = precede '#' do
                      = issue.sub_id
                      = link_to issue.title, issue_path(issue)
                  %p
                    Tags:
                    = raw link_tags issue
                %footer
                  %p
                    by
                    = issue.user.username
                    = distance_of_time_in_words_to_now issue.created_at
                    ago.
