- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize


  %article.project{ data: "issues" }
    %header
      %h1.generated
        = avatar @project.user.email
        %p
          = link_to @user.username, "/#{@user.username}"
          = "/"
          %span 
            = link_to @project.name, "/#{@user.username}/#{@project.name}"
      %h2 
        - if @project.id == @project.parent
          %span.badge.author
            PARENT
        - else
          Forked from parent/project
          
    = render 'projects/project_toolbar'
    = render 'shared/messages'
  
    %section
      %div
        %div.option.feed
          %header
            %h1
              #{"Issues with " + @project.name}
          - unless @issues.empty?
            -# 
              %form{action: "issues/new"}
                %input{type: "submit", value: "New Issue"}
            - for issue in @issues
              %div
                %header
                  %h2
                    = "\##{issue.sub_id}"
                    = link_to issue.title, issue.show_url
                    %span.badge.author
                      = issue.type_text
                %article
                  %p
                    = issue.description
                %footer
                  %p 
                    = "by #{issue.user.username}"
                    = distance_of_time_in_words_to_now issue.created_at
                    ago.

          - else
            %div.guide
              %p Report issues or request improvements to notify the author.
              %form{action: "issues/new"}
                %input{type: "submit", value: "Report Issue"}
        %aside
          %h1
            Status
          %nav
            %ul
              %li.active
                Open
              %li
                Closed
              %li
                Merged

          %h1
            Issues
          %nav
            %ul
              %li.active
                RFE
              %li
                Idea
              %li
                Critical
              %li
                Newbie Friendly

