- if private_check
  - content_for :title do
    Show issue for
    = @project.name

  %article{ data: 'issues' }
    %header
      %h1.generated
        = avatar @project.user.email
        %p
          %span
            = link_to @project.name, "/#{@user.username}/#{@project.name}"
          :escaped
            - Issue
          = precede '#' do
            = @issue.sub_id
      %h2
        - if @project.private == true
          %span.badge.type{ title: 'Private Project' } PRV
        - else
          %span.badge.type{ title: 'Public Project' } PUB
        - if @project.id == @project.parent
          %span.badge.author PARENT
        - else
          %span.badge.author FORK
          = render partial: 'projects/forked_from', locals: { project: @project }

    = render 'shared/messages'
    = render 'projects/project_toolbar'

    %section
      %div
        .option
          %header
            %h1
              = @issue.title
            %h2.issue
              = @issue.description
        %aside
          %h1
            Actions
          %nav
            %ul
              %li.active
                = link_to('Close', File.join(@issue.show_url, 'close'), method: 'post')
              %li
                Merge

    %section.comments
      %section.showcomments
        = render partial: 'comments/comment', collection: @comments
      %section.newcomment
        = render partial: 'comments/new', locals: { type: 'issue',
          id: @issue.id.to_s,
          ajax: @ajax,
          comment: @comment }

- else
  = render 'permissions_error'
