- content_for :title do
  Updating 
  = @glimage.file

.center
  %h2
    Updating
    = @glimage.file

  #current
    Currently
    = link_to url_for(@glimage) do
      %img{:src => @glimage.thumbnail('imagepath')}

  #upload
    = form_for @glimage do |f|
      = render 'form', :form => f
