- content_for :title do
  = @glimage.file.titleize

%h1
  = @glimage.file.titleize

= render 'shared/messages'

#show_image
  = show_image @glimage

%p 
  = link_to 'View file history', File.join(@glimage.id.to_s, 'history')

= glimage_tools @glimage

#comments
  - @glimage.comments.each do |c|
    = render 'comments/comment', :comment => c

#commentform
  %h3.title Add a comment
  = render 'comments/new', :comment => @comment
