- content_for :title do
  Notifications

%article.user{ data: 'settings' }
  %header
    %h1 My Notifications
    %h2
      = precede '@' do
        = current_user.username


  = render 'users/user_toolbar'
  = render 'shared/messages'

  %section
    %ul
      - if @unseennotifications.empty?
        %p No notifications!
      - else
        - @unseennotifications.each do |notification|
          %li
          - if notification.action == 3 && notification.objectname == current_user.username
            = link_to(notif_string(notification) + 'you', notification_path(notification))
          - else
            = link_to(notif_string(notification) + notification.objectname,
              notification_path(notification))

