- content_for :title do
  = 'Notifications'

%article.user{ data: "settings"}
  %header
    %h1 My Notifications
    %h2
      = '@' + current_user.username


  = render 'users/user_toolbar'
  = render 'shared/messages'

  %section
    %ul
      - if @unseennotifications.empty?
        %p No notifications!
      - else
        - for notification in @unseennotifications
          %li
          -if notification.action == 3 and notification.objectname == current_user.username
            = link_to(notification.actor.username + notification.messageverb + "you",notification_path(notification))
          -else
            = link_to(notification.actor.username + notification.messageverb + notification.objectname,notification_path(notification))

