%article
  - if @user.followers.empty?
    %p No one is following #{@user.username} yet.
  -@user.followers.each do |follower|
    - if follower.username == current_user.username
      = avatar(current_user.email)
      = "You"
    - else
      = avatar(follower.email)
      %a{href: "/#{follower.username}"} #{follower.username}
