%article
  - if @user.followers.empty?
    %p No one is following #{@user.username} yet.
    
  -@user.followers.each do |follower|
    = avatar(follower.email)
    - if follower.username == current_user.username   
      = "You"
    - else
      %a{href: "/#{follower.username}"} #{follower.username}
