%div
  .active#follow
    -if not current_user.nil? and current_user.follow?(@user)
      %a{href: "/#{@user.username}/unfollow", "data-remote" => true}
        %p Unfollow
        %p= @user.username
    -else
      %a{href: "/#{@user.username}/follow", "data-remote" => true}
        %p Follow
        %p= @user.username


  %div#followers_list
    %a{href: "/#{@user.username}/followers", "data-remote" => true}
      %p
        #{@user.followers.count}
      %p
        Followers
  %div#followings_list
    %a{href: "/#{@user.username}/followings", "data-remote" => true}
      %p
        #{@user.followings.count}
      %p
        Following
