%section.toolbar
  %div.active
    %p
      = link_to 'Userpage', "/#{@user.username}"
  %div
    %p
      = link_to 'Projects', File.join("/#{@user.username}", 'projects')
  %div
    %p
      = link_to 'Glitterposts', File.join("/#{@user.username}", 'glitterposts')
  %div
    %p
      = link_to 'Activity', File.join("/#{@user.username}", 'activity')
  %div
    %p
      = link_to 'Badges', File.join("/#{@user.username}", 'badges')