%section.toolbar
  %div.active
    %p
      = link_to 'Userpage', "/#{@user.username}"
  %div
    %p
      = link_to 'Projects', File.join("/#{@user.username}", 'projects')
  %div
    %p
      = link_to 'Glitterposts', File.join("/#{@user.username}", 'glitterposts')
  %div
    %p
      = link_to 'Activity', File.join("/#{@user.username}", 'activity')
  %div
    %p
      = link_to 'Badges', File.join("/#{@user.username}", 'badges')



- if user_signed_in? and current_user.id == @user.id
  %section.action
    %div.active
      %p
        = link_to 'Profile', edit_user_registration_path
    %div
      %p
        = link_to 'Identities', identities_path
    %div
      %p
        = link_to 'SSH Keys', identities_path
    %div
      %p
        = link_to 'Projects', identities_path