%section.toolbar
  %div{ data: "userpage" }
    %p
      = link_to 'Userpage', "/#{@user.username}"
  - if user_signed_in? and @user.id == current_user.id
    %div{ data: "notifications" }
      %p
        = link_to 'Notifications', File.join('/', 'notifications')
  - else
    %div{ data: "activity" }
      %p
        Activity
  %div{ data: "projects" }
    %p
      = link_to 'Projects', File.join("/#{@user.username}", 'projects')
  -#
    %div{ data: "glitterposts" }
      %p
        Glitterposts
    %div{ data: "badges" }
      %p
        Badges