- content_for :title do
  = @user.username.titleize

%article.user
  %header
    %h1
      = @user.username
    %h2
      = '@' + @user.username

  = render 'user_toolbar'

  %section.bio
    %div
      %img{src: "/usercover.jpg"}

  %section
    %div
      - @user.projects.each do |project|
        %p
        = link_to project.name, project.name

