- content_for :title do
  = @user.username.titleize

%article.project{ data: "following-projects"}
  %header
    %h1
      = avatar @user.email
      -unless @user == current_user
        Projects #{@user.username} is following
      - else
        Projects I'm following
    %h2
      = '@' + @user.username

  = render 'users/user_toolbar'
  = render 'shared/messages'

  - unless @followedprojects.empty?
    %section.album
      %div
        - @followedprojects.each do |project|
          %div
            %p
              %img{ src: "/usercover.jpg"}
              = link_to project.name, project.urlbase
              %br
              Last updated #{distance_of_time_in_words_to_now project.updated_at} ago

  - else
    %section
      .guide
        %p Start following exciting projects to keep up with them.
        %form{action: "/inspire"}
          %input{type: "submit", value: "Find projects!"}

