- content_for :title do
  = @user.username.titleize

- content_for :head do
  = stylesheet_link_tag :user


%article
  %header
    %h1
      = @user.username
    %h2
      = '@' + @user.username
  %section.bio
    = avatar @user.email
  %section.social
    .active
      %p
        %a{href: "#"} 1
      %p
        %a{href: "#"} Activity
    %div
      %p
        %a{href: "#"} 0
      %p
        %a{href: "#"} Followers
    %div
      %p
        %a{href: "#"} 0
      %p
        %a{href: "#"} Following
  %section.feed
    %ul
      %li.comment
        %a{href: "/sarupbanskota"} Sarup Banskota
        joined
        %a{href: "#"} GlitterGallery
        = distance_of_time_in_words_to_now @user.created_at
        ago.
