- content_for :title do
  = @user.username.titleize

%article.user
  %header
    %h1
      = avatar @user.email
      = @user.username
    %h2
      = '@' + @user.username

  = render 'user_toolbar'

  %section.bio
    %div
      %img{src: "/usercover.jpg"}

  %section.social
    %div
      .active
        %p
          %a{href: "#"} Follow
        %p
          %a{href: "#"}
            = @user.username
      %div
        %p
          %a{href: "#"} 0
        %p
          %a{href: "#"} Followers
      %div
        %p
          %a{href: "#"} 0
        %p
          %a{href: "#"} Following

  %section
    .feed
      %div
        %article
          %p
            = link_to @user.username, (File.join '/', @user.username)
            joined
            %a{href: "/"} GlitterGallery
            = distance_of_time_in_words_to_now @user.created_at
            ago.
