- content_for :title do
  Forgot Password

%article
  %header
    %h1 Forgot Password?
    %h2 No worries, just reset and you're good.

  %section
    %div
      = form_for(resource,
                         as: resource_name,
                         url: password_path(resource_name),
                         html: { method: :post }) do |f|
        = devise_error_messages!
        = f.label :email
        = f.email_field :email, autofocus: true
        = f.submit 'Email me!'

      = render 'devise/shared/links'


