#top.header
  %img#logo{:alt => "Logo", :src => "/assets/logo.png"}/
.center
  #maincolumn
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %div
        = f.label :email
        %br/
        = f.email_field :email, :placeholder => "Your email address"
      %div
        = f.label :password
        %br/
        = f.password_field :password, :placeholder => "Your password"
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, :placeholder => "Repeat your password"
      %div= f.submit "Sign up"
    %div{:style => "clear: both;"}
  #sidebar
    %h2 sign in
    = link_to 'Already have an account?', new_user_session_path
