- content_for :title do
  = current_user.username.titleize

%article
  %header
    %h1
      = avatar current_user.email
      = current_user.username
    %h2
      = precede '@' do
        = current_user.username

  %section
    %div
      .option
        = form_for @key do |f|
          - @key.errors.full_messages.each do |msg|
            %p.error_message
              = msg
          = f.label :title
          = f.text_field :title, placeholder: 'Title', autofocus: true
          = f.label :key
          = f.text_area :key, rows: 8
          = f.submit 'Add key'