%section.album
  - if @images.empty?
    - if user_signed_in?
      - if current_user.id == @project.user.id
        .guide
          %p Submit your design work on this project to start collaborating.
          %form{ action: File.join(@project.name, 'newfile') }
            %input{ type: 'submit', value: 'Add first file!' }
      - else
        .guide
          %p
            Design work is yet to be added to this project.
            Maybe you want to follow to receive updates?
          = form_tag File.join(@project.urlbase, 'follow') do
            = submit_tag 'Follow this project'
    - else
      .guide
        %p You'll need to sign in to work on these cool projects!
        %form{ action: '/users/sign_in' }
          %input{ type: 'submit', value: 'Sign in!' }

  - else
    %div
      - @images.each do |image|
        %div
          %p{ title: image[:name] }
            = link_to(image_tag(image[:url]), image[:link])
    - if user_signed_in? && current_user.id == @project.user.id
      %div
        = form_tag file_upload_user_project_path(@project.user,
          @project,
          params[:xid]),
          multipart: true do
          = file_field_tag 'file[]' , multiple: true
          = submit_tag 'Upload file!'
