%section.album
  %div
    - @projects.each do |project|
      %div
        %p
          = link_to user_project_path(project.user, project) do
            = render_image project
          = link_to project.name, user_project_path(project.user, project)
          = render 'projects/forked_from', project: project
          %p.last_update
            Last updated #{distance_of_time_in_words_to_now project.updated_at} ago
        = rating_for project, 'stars', disable_after_rate: true, half_show: true
        %p
          - if project.followed_by? current_user
            = link_to project_unfollow_path(project), method: :delete, class: 'follow-hover' do
              Unfollow
          - else
            = link_to project_follow_path(project), method: :post, class: 'follow-hover' do
              Follow
          = link_to project_fork_path(project), method: :post, class: 'follow-hover' do
            Fork
          %a.follow-hover{ href: "#{project.urlbase + '/issues/new'}" }
            Blame
  = will_paginate @projects, id: 'project_pagination'
