- @parent = Project.find @project.parent


%section.toolbar
  %div{ data: "current"}
    %p
      = link_to 'Current', File.join(@project.urlbase, @project_path.to_s)
  %div{ data: "log" }
    %p
      = link_to 'Log', File.join(@project.urlbase, 'commits')
  %div{ data: "issues" }
    %p
      = link_to "Issues", File.join(@project.urlbase, 'issues')


%section.action
  - if user_signed_in? and @project.user.id == current_user.id
    -#
      %div{ data: "doodle" }
        %p
          Doodle
    %div{ data: "upload" }
      %p
        = link_to 'Upload', File.join(@project.urlbase, 'newfile')
    %div{ data: "settings" }
      %p
        = link_to "Settings", File.join(@project.urlbase, 'settings')
  - else
    %div{ data: "follow" }
      %p
        = link_to 'Follow' , File.join(@project.urlbase, 'follow') , "data-method" => "POST"
    -#
      %div{ data: "fork" }
        %p
          = link_to 'Fork' , File.join(request.original_url, 'forkyou')
      %div{ data: "star" }
        %p
          = link_to 'Star' , File.join(request.original_url, 'star')
  %div{ data: "blame" }
    %p
      = link_to "Blame", File.join(@project.urlbase, 'issues/new')
