%header
  %h1.generated
    = avatar @project.user.email
    %p
      = link_to @user.username, "/#{@user.username}"
      :escaped
        /
      %span
        = link_to @project.name, "/#{@user.username}/#{@project.name}"
  %h2
    - if @project.private == true
      %span.badge.type{ title: 'Private Project' } PRV
    - else
      %span.badge.type{ title: 'Public Project' } PUB
    - if @project.root?
      %span.badge.author PARENT
    - else
      %span.badge.author FORK
      = render partial: 'forked_from', locals: { project: @project }