%header
  %h1.generated
    = avatar @project.user.email
    = link_to @user.username, user_path(@user)
    :escaped
      /
    %span
      = link_to @project.name, user_project_path(@project.user, @project)
    = rating_for_user @project, current_user, 'stars', disable_after_rate: true
  %h2
    - if @project.private == true
      %span.badge.type{ title: 'Private Project' } PRV
    - else
      %span.badge.type{ title: 'Public Project' } PUB
    - if @project.root?
      %span.badge.author PARENT
    - else
      %span.badge.author FORK
      = render partial: 'projects/forked_from', locals: { project: @project }
  %ul#file_data{ style: 'display: none' }
    - find_file_types(@project).each do |type|
      %li
        %span.file_type{ 'data-type' => "#{type[0]}" }
        %span.file_num{ 'data-num' => "#{type[1]}" }
  %canvas#file_info

  - if params[:oid] && params[:oid] != 'master'
    %p
      @
      = params[:oid]
