- @parent = Project.find @project.parent


%ul
  %li
    =link_to 'Log', File.join(@project.urlbase, 'commits'), :class => 'history'
  - if user_signed_in? and @project.user_id == current_user.id
    %li
      = link_to "Settings", File.join(@project.urlbase, 'settings')
    %li
      = link_to 'New SVG', File.join(@project.urlbase, 'createsvg'), :class => 'draw', "data-no-turbolink" => true
    %li
      = link_to 'Add Files', File.join(@project.urlbase, 'newfile'), :class => 'files'
      
  - if user_signed_in? && (@project.user_id != current_user.id and @parent.user_id != current_user.id)
    %li
      = link_to 'Fork' , File.join(request.original_url, 'forkyou'), :class => 'fork'

  - if user_signed_in? && (@project.user_id == current_user.id and @parent.user_id != current_user.id)
    %li
      = link_to 'Send Pull Request', File.join(request.original_url, 'pull'), :class => 'pull-request'
