- @parent = Project.find @project.parent


%section.toolbar
  %div.active
    %p
      = link_to 'Current', File.join(@project.urlbase, @project_path.to_s)
  %div
    %p
      = link_to 'Log', File.join(@project.urlbase, 'commits')
  %div
    %p
      Contributors
  %div
    %p
      Issues
  %div
    %p
      Milestones


%section.action
  - if user_signed_in? and @project.user.id == current_user.id
    %div
      %p
        = link_to 'Upload', File.join(@project.urlbase, 'newfile')
    %div
      %p
        = link_to 'Doodle', File.join(@project.urlbase, 'createsvg'), "data-no-turbolink" => true
    %div
      %p
        = link_to "Settings", File.join(@project.urlbase, 'settings')
      
  - else
    %div
      %p
        = link_to 'Fork' , File.join(request.original_url, 'forkyou')
    %div
      %p
        = link_to 'Star' , File.join(request.original_url, 'star')
    %div
      %p
        = link_to 'Follow' , File.join(request.original_url, 'follow')
  %div
    %p
      Blame