%section.toolbar
  = link_to user_project_path(@project.user, @project) do
    %div{ data: 'current' }
      %p
        Current

  = link_to project_commits_path(@project) do
    %div{ data: 'log' }
      %p
        Log

  = link_to project_issues_path(@project) do
    %div{ data: 'issues' }
      %p
        Issues

  = link_to project_network_path(@project) do
    %div{ data: 'network' }
      %p
        Network


%section.action
  - if user_signed_in? && @project.user.id == current_user.id

    = link_to project_newfile_path(@project) do
      %div{ data: 'upload' }
        %p
          Upload

    = link_to project_settings_path(@project) do
      %div{ data: 'settings' }
        %p
          Settings
  - else
    - if @project.followed_by? current_user
      = link_to project_unfollow_path(@project), method: :delete do
        %div{ data: 'unfollow' }
          %p
            Unfollow
    - else
      = link_to project_follow_path(@project), method: :post do
        %div{ data: 'follow' }
          %p
            Follow

    = link_to project_fork_path(@project), method: :post do
      %div{ data: 'fork' }
        %p
          Fork

    %a{ href: "#{@project.urlbase + '/issues/new'}" }
      %div{ data: 'blame' }
        %p
          Blame
