%header
  %h1.generated
    = avatar @project.user.email
    %p
      = link_to @user.username, "/#{@user.username}"
      = "/"
      %span 
        = link_to @project.name, "/#{@user.username}/#{@project.name}"
  %h2 
    - if @project.parent == nil
      %span.badge.author
        PARENT
    - else
      %span.badge.author
        Forked from parent/project