%section.toolbar
  %a{ href: "#{@project.urlbase + @project_path.to_s}" }
    %div{ data: 'current' }
      %p
        Current

  %a{ href: "#{@project.urlbase + '/commits'}" }
    %div{ data: 'log' }
      %p
        Log

  %a{ href: "#{@project.urlbase + '/issues'}" }
    %div{ data: 'issues' }
      %p
        Issues

  %a{ href: "#{@project.urlbase + '/network'}" }
    %div{ data: 'network' }
      %p
        Network


%section.action
  - if user_signed_in? && @project.user.id == current_user.id
    -#
      %div{ data: 'doodle' }
        %p
          Doodle

    %a{ href: "#{@project.urlbase + '/newfile'}" }
      %div{ data: 'upload' }
        %p
          Upload

    %a{ href: "#{@project.urlbase + '/settings'}" }
      %div{ data: 'settings' }
        %p
          Settings
  - else
    - if @project.followed_by? current_user
      = link_to unfollow_user_project_path(@project.user, @project), method: :delete do
        %div{ data: 'unfollow' }
          %p
            Unfollow
    - else
      = link_to follow_user_project_path(@project.user, @project), method: :post do
        %div{ data: 'follow' }
          %p
            Follow

    = link_to fork_user_project_path(@project.user, @project), method: :post do
      %div{ data: 'fork' }
        %p
          Fork

    -#
      %a{ href: "#{request.original_url + '/star'}" }
        %div{ data: 'fork' }
          %p
            Star

    %a{ href: "#{@project.urlbase + '/issues/new'}" }
      %div{ data: 'blame' }
        %p
          Blame
