- content_for :title do
  = @project.name.titleize

%article.project{ data: 'current' }
  = render 'project_header'
  = render 'project_toolbar'
  = render 'shared/messages'
  = render 'breadcrumb'
  = link_to 'History', history_user_project_path
  %section.album
    .photo
      %p
        = data_image_tag(@image, nil, nil, 'annotate')
    - if can? :file_update, @project
      %section
        %h3
          Update
          = params[:destination]
        %div
          = form_tag project_file_update_path(@project, params[:oid], @dest), multipart: true do
            = label_tag 'message', 'commit message'
            = text_field_tag 'message', "Update #{params[:destination]}"
            = file_field_tag 'file'
            = submit_tag

  - if @project.private && params[:xid] != @project.uniqueurl
    %section
      %div
        %form{ action: user_project_path(@project.user, @project) }
          %input{ type: 'submit', value: 'Generate Unique Link' }

  = render partial: 'comments/show_comments', locals: { type: 'blob',
    id: @id,
    ajax: @ajax,
    comment: @comment }
