- if private_check
  - content_for :title do
    = @project.name.titleize

  %article.project{ data: 'current' }
    = render 'project_header'
    = render 'project_toolbar'
    = render 'shared/messages'

    %section.album
      .photo
        %p
          = sketchily_show @enc_blob_text
      - if @branch
        %section
          %h3
            Update
            = params[:destination]
          %div
            = form_tag file_update_user_project_path(@project.user, @project), multipart: true do
              = label_tag 'message', 'commit message'
              = text_field_tag 'message', "Update #{params[:destination]}"
              = file_field_tag 'file'
              = hidden_field_tag 'image_path', params[:destination]
              = hidden_field_tag 'branch', @branch.name
              = submit_tag

    - if @project.private && params[:xid] != @project.uniqueurl
      %section
        %div
          %form{ action: user_project_path(@project.user, @project) }
            %input{ type: 'submit', value: 'Generate Unique Link' }

    = render partial: 'comments/show_comments', locals: { type: 'project',
      id: @project.id.to_s,
      ajax: @ajax,
      comment: @comment }
- else
  = render 'permissions_error'
