- if private_check
  - content_for :title do
    = @project.name.titleize

  %article.project{ data: 'branches' }
    = render 'project_header'
    = render 'project_toolbar'
    = render 'shared/messages'

    - if @project.private && params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase

    %section.list
      - if @branches.count == 0
        .guide
          %p The project is empty. There are no branches.
      - else
        - @branches.each do |branch|
          %div
            = link_to branch.name, project_tree_path(@project, branch.name)
            %p
              Last updated
              = time_ago_in_words(branch.target.time)
              ago
        - if user_signed_in? && current_user.id == @project.user.id
          %div
            = form_tag project_create_branch_path(@project) do
              = text_field_tag 'branch_name', nil, placeholder: 'Branch name'
              = submit_tag 'Create new branch!'

- else
  = render 'permissions_error'
