- content_for :title do
  = @project.name.titleize
  history

- content_for :pagetitle do
  = link_to @project.name.titleize, @project
  \/
  History

%ul.history
  - @commits.each do |commit|
    %li
      .meta
        = avatar(commit.author.email)
        %p
          = commit.author
        %p
          = distance_of_time_in_words_to_now commit.authored_date
          ago

      = link_to commit.message, File.join('commit', commit.tree.id), :class => 'commit'

