<%#FIXME - add css to commits page %>
<strong>
	<%= @project.name %> > Commits
</strong>

<ul>
	<% @commits.each do |commit| %>
		<li> <%= avatar(commit.author.email)%> 
		     <%= link_to commit.message, File.join('commit', commit.tree.id) %> </li>
		<li> <%= commit.authored_date %> </li>
		<li> <%= commit.id %> </li>
		<br>
	<% end %>
</ul>