- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize
    History

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    History

  = render 'project_toolbar'

  %hr

  %ul.history
    - @commits.each do |commit|
      %li
        .meta
          %p
            = commit.author
          %p
            = distance_of_time_in_words_to_now commit.authored_date
            ago

        = link_to commit.message, File.join(@project.urlbase, 'commit', commit.tree.id), :class => 'commit'
    - if !@comments.nil?
      = will_paginate @comments, :style => 'color:blue' 



