- if private_check
  - content_for :title do
    = @project.name.titleize


  %article.project{ data: 'log' }
    = render 'project_header'
    = render 'project_toolbar'
    = render 'shared/messages'


    - if @project.private && params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase

    %section
      - if @commits
        .feed
          - @commits.each do |commit|
            %div
              %header
                = commit.author[:name]
              %article
                %p
                  %img{ src: "#{@project.thumbnail_for(commit.oid, false)}" }
                  = link_to commit.message, commit_user_project_path(@project.user,
                    @project,
                    commit.oid)
              %footer
                %p
                  = distance_of_time_in_words_to_now Time.at(commit.epoch_time)
                  ago.
      - else
        %div
          - if user_signed_in? && current_user.id == @project.user.id
            .guide
              %p Submit your design work on this project to start collaborating.
              %form{ action: File.join(@project.urlbase, 'newfile') }
                %input{ type: 'submit', value: 'Add first file!' }
          - elsif user_signed_in? && current_user.id != @project.user.id
            .guide
              %p Work hasn't started on this project yet. Maybe you want to contribute?
              %form{ action: '#' }
                %input{ type: 'submit', value: 'Fork this project!' }
          - else
            .guide
              %p You'll need to sign in to work on these cool projects!
              %form{ action: '/users/sign_in' }
                %input{ type: 'submit', value: 'Sign in!' }

- else
  = render 'permissions_error'
