- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = "#{@project.name.titleize} at #{@id}"

  %article.project
    = render 'project_header'
    = render 'project_toolbar'
    = render 'shared/messages'

    - if @project.private and params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase

    - if @tree
      = button_to "Browse files at this commit", tree_user_project_path(@project.user, @project, @project.uniqueurl, @tree), method: :get


    - @images.each do |image|
      %div
        = link_to image[:name], image[:link]
      = data_image_tag(image,"100%",nil)

    %section.comments
      %section.showcomments
        = render partial: "comments/comment", collection: @comments.reverse
      %section.newcomment
        = render partial: "comments/new", locals: {type: 'commit', id: @id.to_s, ajax: @ajax, comment: @comment}
