- unless private_check and owner_check
  = render 'permissions_error'
- else

- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize

  %article.project
    %header
      %h1.generated
        = avatar @project.user.email
        %p
          = link_to @user.username, "/#{@user.username}"
          = "/"
          %span 
            = link_to @project.name, "/#{@user.username}/#{@project.name}"
      %h2 
        - if @project.id == @project.parent
          %span.badge.author
            PARENT
        - else
          Forked from parent/project

    = render 'shared/messages'
    = render 'project_toolbar'
  
    - if @project.private and params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase
  
    %section
      %div
        = form_tag(:controller=>"projects", :action=>"update_svg", :id=>@project.id) do
          = sketchily_tag :sketch, :url => @path
          = label_tag "commit message"
          = text_field_tag "message", "Update #{@filename}"
          = hidden_field_tag 'filename', @filename
          = submit_tag
