- if private_check
  - content_for :title do
    = @project.name.titleize
    File history

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    = link_to params[:image_name], File.join(@project.urlbase, 'master', params[:image_name])
    \/
    File history

    = render 'project_toolbar'
    = render 'shared/messages'

  %br
  - @bloblist.each do |image, commit|
    = commit.author[:name]
    = commit.message
    = distance_of_time_in_words_to_now Time.at(commit.epoch_time)
    ago
    %br
    = data_image_tag(image, '100%', nil)

    %hr

- else
  = render 'permissions_error'
