.center
  - content_for :title do
    = @project.name.titleize
  .meta
    %h2
      = avatar(User.find(@project.user_id).email)
      = @project.name.titleize.to_s + " /  " + @bloblist.first.first.name.to_s + " / history"
 
  %br
  %hr
  %br
  - @bloblist.each do |blob, commit|
    = commit.author
    = commit.message
    = distance_of_time_in_words_to_now commit.date
    ago
    %br
    %img{:src => "data:image/svg+xml;base64,#{Base64.encode64(raw blob.data)}"}
    %hr