- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize
    File history

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    = link_to params[:image_name], File.join(@project.urlbase, 'master', params[:image_name])
    \/
    = "File history"

  = render 'project_toolbar'

  %br
  - @bloblist.each do |blob, commit|
    = commit.author
    = commit.message
    = distance_of_time_in_words_to_now commit.date
    ago
    %br
    %img{:src => "data:image/svg+xml;base64,#{Base64.encode64(raw blob.data)}"}
    %hr
    
  
