- if private_check
  - filename = File.basename(@imageurl).to_s

  - content_for :title do
    = filename


  %article.project
    = render 'project_header'
    = render 'project_toolbar'
    = render 'shared/messages'
    %section.album
      .photo
        %p{ title: params[:image_name] }
          = image_tag @imageurl.gsub('public', '')
        %form{ action: File.join(params[:image_name], 'update') }
          %input{ type: 'submit', value: 'Update' }

    %section.comments
      = render partial: 'comments/comment', collection: @comments
      = render partial: 'comments/new', locals: { type: 'project',
        id: @project.id.to_s,
        ajax: @ajax,
        comment: @comment }
- else
  = render 'permissions_error'
