- unless private_check
  = render 'permissions_error'
- else

  - filename = File.basename(@imageurl).to_s
  
  - content_for :title do
    = filename


  %article.project
    %header
      %h1.generated
        = avatar @project.user.email
        %p
          = link_to @user.username, "/#{@user.username}"
          = "/"
          %span 
            = link_to @project.name, "/#{@user.username}/#{@project.name}"
      %h2 
        - if @project.id == @project.parent
          %span.badge.author
            PARENT
        - else
          Forked from parent/project
    = render 'project_toolbar'
    = render 'shared/messages'
    %section.album
      %div.photo
        %p{title: params[:image_name]}
          = image_tag @imageurl.gsub("public","")
        - if can? :update_image, @project
          %form{ action: File.join(params[:image_name], "update")}
            %input{ type: "submit", value: "Update"}

    %section.comments
      = render partial: "comments/comment", collection: @comments
      = render partial: "comments/new", locals: {type: 'project', id: @project.id.to_s, ajax: @ajax, comment: @comment}