- content_for :head do
  = stylesheet_link_tag :style

- unless private_check
  = render 'permissions_error'
- else

  - filename = File.basename(@imageurl).to_s
  
  - content_for :title do
    = filename


  %article.project
    %header
      %h1.generated
        = link_to @project.name.titleize, @project.urlbase
        \/
        = filename
      %h2
        FIXME - Descriptions are private, so they won't show up here.
        /= @project.desc

    = render 'project_toolbar'

    %section.album.image
      %div
        %p
          = image_tag @imageurl.gsub("public","")

    %section.comments
      = render partial: "comments/comment", collection: @comments
      = render partial: "comments/new", locals: {type: 'project', id: @project.id.to_s, ajax: @ajax, comment: @comment}