- unless private_check
  = render 'permissions_error'
- else

  - filename = File.basename(@imageurl).to_s
  
  - content_for :title do
    = filename

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    = filename

  = render 'project_toolbar'

  - content_for :toolbar do
    %ul
      %li
        = link_to "File history", File.join(File.basename(@imageurl).to_s, 'history'), :class => 'history'
      - if logged_in?
      
        -if @project.user_id == current_user.id
          %li
            = link_to "Edit file", File.join(File.basename(@imageurl).to_s, 'edit'), :class => 'edit'
          %li
            = link_to "Update file", File.join(File.basename(@imageurl).to_s, 'update'), :class => 'upload'

  = image_tag @imageurl.gsub("public",""), :class => 'big'

  .comment_form
    = render partial: "comments/new", locals: {type: 'file', id: filename, ajax: @ajax, comment: @comment}

  %ul.comments
    = render partial: "comments/comment", collection: @comments
  - if !@comments.nil?
    = will_paginate @comments, :style => 'color:blue' 
    

