- content_for :title do
  Create new project!
  
- # Renders the carousel on the top of the new_project page.
- # We'll have to change the way this partial behaves, since
- # we do not have Glimages anymore.

= render 'shared/glimageshow'

- # Displays any error messages that may turn up during an 
- # action that didn't undergo a behavior as expected.

= render 'shared/messages'

#maincolumn
  %h2 Create a new project
  #upload
    = form_for @project, :class => 'fakeupload' do |f|
      = f.text_field :name, :placeholder => "Name for your project"


      - #Uncomment the submit button if it doesn's show up
      - #by itself

      = # f.submit
