- content_for :title do
  Create new project!
  
- # Renders the carousel on the top of the new_project page.
- # We'll have to change the way this partial behaves, since
- # we do not have Glimages anymore.

= render 'shared/glimageshow'

- # Displays any error messages that may turn up during an 
- # action that didn't undergo a behavior as expected.

= render 'shared/messages'

#maincolumn
  %h2 Show the world some design love!
  #upload
    = form_for @project do |f|
      = f.label "I wanna create a new project called: "
      - # Just an idea -> throw some randomly generated meaningful projectnames 
      - # in the placeholder.
      = f.text_field :name, :placeholder => "My awesome project's nickname"
      = f.submit
