- if private_check
  - content_for :title do
    = @project.name.titleize


  %article.project
    = render 'project_header'
    = render 'project_toolbar'
    = render 'shared/messages'

    - if @project.private && params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase

    %section
      %div
        = form_tag(controller: 'projects', action: 'create_svg', id: @project.id) do
          = sketchily_tag :sketch
          %label What are you calling your sketch?
          = text_field_tag :filename
          = submit_tag
- else
  = render 'permissions_error'
