- content_for :head do
  = stylesheet_link_tag :style
  
- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize


  %article
    %header
      %h1.generated 
        = @project.name
      %h2 
        FIXME - Descriptions are private, so they won't show up here.
        /= @project.desc

    %section
      = render 'project_toolbar'
  
    - if @project.private and params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase
    
    = form_tag(:controller=>"projects", :action=>"create_svg", :id => @project.id) do
      What are you calling your sketch?
      = text_field_tag :filename
      = sketchily_tag :sketch
      = submit_tag
