- unless private_check and owner_check
  = render 'permissions_error'
- else
 
  - content_for :title do
    New SVG

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    = 'New SVG'

  = render 'project_toolbar'

    
  = form_tag(:controller=>"projects", :action=>"create_svg", :id => @project.id) do
    What are you calling your sketch?
    = text_field_tag :filename
    = sketchily_tag :sketch
    = submit_tag
