- unless private_check
  = render 'private_error'
- else
 
  - content_for :title do
    New file

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    = 'New file'

  = render 'project_toolbar'
  %br

  = form_tag file_upload_project_path(@project), multipart: true do
    = file_field_tag "file" 
    = submit_tag 

