- content_for :head do
  = stylesheet_link_tag :style

- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize


  %article.project
    %header
      %h1.generated
        = link_to @project.name.titleize, @project.urlbase
      %h2
        FIXME - Descriptions are private, so they won't show up here.
        /= @project.desc

    = render 'project_toolbar'
  
    - if @project.private and params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase
      

    = form_tag file_upload_project_path(@project), multipart: true do
      = file_field_tag "file" 
      = submit_tag 

