.center
  - @contents.each do |blob|
    = blob.name
    %svg{:xmlns => "http://www.w3.org/2000/svg"}
      = raw blob.data

  #comments
    - @comments.each do |comment|
      - if comment.user_id == @project.user_id
        .comment#author
          .comment-meta
            = avatar(User.find(comment.user_id).email)
            %p.author
              = User.find(comment.user_id).username
          .comment-time
            %p.time
              = distance_of_time_in_words_to_now comment.created_at
              ago
          .comment-body
            = comment.body
            
      - elsif logged_in? and comment.user_id == current_user.id
        .comment#currentuser
          .comment-meta
            = avatar(User.find(comment.user_id).email)
            %p.author
              = User.find(comment.user_id).username
          .comment-time
            %p.time
              = distance_of_time_in_words_to_now comment.created_at
              ago
          .comment-body
            = comment.body

      - else 
        .comment
          .comment-meta
            = avatar(User.find(comment.user_id).email)
            %p.author
              = User.find(comment.user_id).username
          .comment-time
            %p.time
              = distance_of_time_in_words_to_now comment.created_at
              ago
          .comment-body
            = comment.body
  %br
  #comments
    .comment#author
      .comment-meta
        = avatar(User.find(current_user.id).email)
        %p.author
          = User.find(current_user.id).username
      .comment-time
        %p.time Add a comment now

    .comment-body
      = form_for Comment.new do |f|
        = hidden_field_tag 'polycomment_type', 'commit'
        = hidden_field_tag 'polycomment_id',  @tree.id.to_s
        .comment_field
          = f.text_field :body, :placeholder => 'Add your comment...'
        .submit
          = f.submit 