- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize
  
  %article.project
    = render 'project_header'
    = render 'project_toolbar'
    = render 'shared/messages'
  
    - if @project.private and params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase
    
    - @images.each do |image|
      %div
        = image[:name]
      = data_image_tag(image,"100%",nil)

    .comment_form
      = render partial: "comments/new", locals: {type: 'commit', id: @id.to_s, ajax: @ajax, comment: @comment}

    %ul.comments
      = render partial: "comments/comment", collection: @comments