- unless @project.private and current_user.id != @project.user_id

    
  .center
    - content_for :title do
      = @project.name.titleize
    .meta
      %h2
        = avatar(User.find(@project.user_id).email)
        = @project.name.titleize.to_s 
    %hr

    - @contents.each do |blob|
      = blob.name
      %svg{:xmlns => "http://www.w3.org/2000/svg"}
        = raw blob.data



  .comment_form
    = render partial: "comments/new", locals: {type: 'commit', id: @id.to_s, ajax: @ajax, comment: @comment}

  %ul.comments
    = render partial: "comments/comment", collection: @comments
  
- else
  = 'Sorry, but this repository is private and only accessible through a unique url. If you have believe you must have access to this repository, please contact the project owner and request the link.'

