- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize
    Commit

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    = link_to "Commits", (File.join @project.urlbase, 'commits')
    \/
    = @id


  = render 'project_toolbar'


  - @contents.each do |blob|
    = blob.name
    %svg{:xmlns => "http://www.w3.org/2000/svg"}
      = raw blob.data



  .comment_form
    = render partial: "comments/new", locals: {type: 'commit', id: @id.to_s, ajax: @ajax, comment: @comment}

  %ul.comments
    = render partial: "comments/comment", collection: @comments


