- if private_check
  - content_for :title do
    Pull Requests

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    Pull Requests

  = render 'project_toolbar'
  %br


  .center
    - @pulls.each do |pull|
      %h1
        = link_to "##{pull.id}", File.join(@project.urlbase, 'pull', pull.id.to_s)
      %ul
        %li
          = pull.desc
        %li
          .meta
            = surround 'First opened ', ' ago |' do
              = distance_of_time_in_words_to_now @pull.created_at
            =  pull.status
- else
  = render 'permissions_error'
