.center
  %br
  This page corresponds to pull # 
  = @pull.id
  ,which is
  = @pull.status
  now.
  - if current_user.id == @project.user_id and @pull.status == 'open'
    = link_to 'Merge', File.join(@pull.id.to_s,'merge')
    = link_to 'Close', File.join(@pull.id.to_s,'close')
  - if current_user.id == @project.user_id and @pull.status == 'closed'
    = link_to 'Re-open', File.join(@pull.id.to_s,'open')