- content_for :head do
  = stylesheet_link_tag :style

- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize


  %article
    %header
      %h1.generated 
        = @project.name
      %h2 
        FIXME - Descriptions are private, so they won't show up here.
        /= @project.desc

    %section
      = render 'project_toolbar'
  
    - if @project.private and params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase

    -if user_signed_in? && @project.user_id == current_user.id
      = link_to "Delete project", project_path(@project.id), method: :delete, confirm: "Are you sure?"