- content_for :head do
  = stylesheet_link_tag :projects

- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize
    
  %article
    %header
      %h1.generated 
        = @project.name
      %h2 
        FIXME - Descriptions are private, so they won't show up here.
        /= @project.desc

    %section
      = render 'project_toolbar'
    %section.album
      = render 'images'
  
    - if @project.private and params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase

    .comment_form
      = render partial: "comments/new", locals: {type: 'project', id: @project.id.to_s, ajax: @ajax, comment: @comment}

    %ul.comments
      = render partial: "comments/comment", collection: @comments
    %ul.paginate
      - if @comments.any?
        = will_paginate @comments, params: { controller: "projects", action: "show"},:style => 'color:blue' 






