- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize
    
  %article.project
    %header
      %h1.generated
        = avatar @project.user.email
        %p
          = link_to @user.username, "/#{@user.username}"
          = "/"
          %span 
            = link_to @project.name, "/#{@user.username}/#{@project.name}"
      %h2 
        - if @project.id == @project.parent
          %span.badge.author
            PARENT
        - else
          Forked from parent/project
        /= @project.desc

    = render 'project_toolbar'
    = render 'images'

    - if @project.private and params[:xid] != @project.uniqueurl
      %section
        %div
          %form{ action: @project.urlbase}
            %input{type: "submit", value: "Generate Unique Link"}


    %section.comments
      = render partial: "comments/comment", collection: @comments
      = render partial: "comments/new", locals: {type: 'project', id: @project.id.to_s, ajax: @ajax, comment: @comment}







