- parent = Project.find @project.parent
.center
  - content_for :title do
    = @project.name.titleize

  .meta
    %h2
      = avatar(User.find(@project.user_id).email)
      = @project.name.titleize

    - if (@project.parent != @project.id)
      = 'Forked from ' 
      = User.find(parent.user_id).username
      = '/'
      = parent.name

      - if logged_in? && (@project.user_id != current_user.id && parent.user_id != current_user.id)
        =#  link_to 'Fork this repo!', File.join(@project.id.to_s, 'fork')
        .button
          = link_to 'Fork' , File.join(@project.id.to_s, 'forkyou')
      - if logged_in? && (@project.user_id == current_user.id && parent.user_id != current_user.id)
        .button
          = link_to 'Send Pull Request', File.join(@project.id.to_s, 'pull')
      .button
        %a{:href => "#{@invite_uri}"} SparkleShare
      .button
        =link_to 'History', File.join(@project.id.to_s, 'commits')

    %br
    %br
    %hr
    %br

  = render 'shared/messages'

  .button
    #{link_to 'Draw', File.join(@project.id.to_s, 'createsvg')}

  or add new files:
  = form_tag file_upload_project_path(@project), multipart: true do
    = file_field_tag "file" 
    = submit_tag 

  = render 'images'
  
  %br
  %br
  %hr

  #comments
    - @comments.each do |comment|
      - if comment.user_id == @project.user_id
        = render 'comments/comment_author', :comment => comment            
      - elsif logged_in? and comment.user_id == current_user.id
        = render 'comments/comment_current', :comment => comment
      - else 
        = render 'comments/comment_normal'
    = #render 'comments/new'

    .comment-body
      = form_for Comment.new do |f|
        = hidden_field_tag 'polycomment_type', 'project'
        = hidden_field_tag 'polycomment_id',  @project.id.to_s
        .comment_field
          = f.text_field :body, :placeholder => 'Add your comment...'
        .submit
          = f.submit 
