- if private_check
  - content_for :title do
    = @project.name.titleize

  %article.project{ data: 'current' }
    = render 'project_header'
    = render 'project_toolbar'
    = render 'shared/messages'
    = render 'images'

    - if @project.private && params[:xid] != @project.uniqueurl
      %section
        %div
          %form{ action: @project.urlbase }
            %input{ type: 'submit', value: 'Generate Unique Link' }


    %section.comments
      %section.showcomments
        = render partial: 'comments/comment', collection: @comments.reverse
      %section.newcomment
        = render partial: 'comments/new', locals: { type: 'project',
          id: @project.id.to_s,
          ajax: @ajax,
          comment: @comment }
- else
  = render 'permissions_error'
