.center
  - content_for :title do
    = @project.name.titleize

  %h2
    = avatar(User.find(@project.user_id).email)
    = @project.name.titleize

  - if logged_in? && (@project.user_id != current_user.id)
    = link_to 'Fork this repo!', File.join(@project.id.to_s, 'fork')

  = render 'shared/messages'

  = render 'images'

  #connect to sparkle share
  %a{:href => "#{@invite_uri}"} Click here to add this project to SparkleSharegit

  %p
    =link_to 'View commit history', File.join(@project.id.to_s, 'commits')

  #upload

    %h3.title New image
    = form_for @glimage, :class => 'fakeupload' do |f|
      = f.hidden_field :project_id
      = render 'glimages/form', :form => f
