.center
  - content_for :title do
    = @project.name.titleize

  %h2
    = avatar(User.find(@project.user_id).email)
    = @project.name.titleize

  - if logged_in? && (@project.user_id != current_user.id)
    = link_to 'Fork this repo!', File.join(@project.id.to_s, 'fork')
    = link_to 'Fork you (tests fork)' , File.join(@project.id.to_s, 'forkyou')

  = render 'shared/messages'

  = render 'images'

  #connect to sparkle share
  %a{:href => "#{@invite_uri}"} Click here to add this project to SparkleSharegit

  %p
    =link_to 'View commit history', File.join(@project.id.to_s, 'commits')

  %br
  %br
  %p
  Add more awesomeness!
  = form_tag file_upload_project_path(@project), multipart: true do
    = file_field_tag "file" 
    = submit_tag 



  #comments
    - @comments.each do |comment|
      - if comment.user_id == @project.user_id
        .comment#author
          .comment-meta
            = avatar(User.find(comment.user_id).email)
            %p.author
              = User.find(comment.user_id).username
          .comment-time
            %p.time
              = distance_of_time_in_words_to_now comment.created_at
              ago
          .comment-body
            = comment.body
            
      - elsif logged_in? and comment.user_id == current_user.id
        .comment#currentuser
          .comment-meta
            = avatar(User.find(comment.user_id).email)
            %p.author
              = User.find(comment.user_id).username
          .comment-time
            %p.time
              = distance_of_time_in_words_to_now comment.created_at
              ago
          .comment-body
            = comment.body

      - else 
        .comment
          .comment-meta
            = avatar(User.find(comment.user_id).email)
            %p.author
              = User.find(comment.user_id).username
          .comment-time
            %p.time
              = distance_of_time_in_words_to_now comment.created_at
              ago
          .comment-body
            = comment.body
  %br

  .comment#author
    .comment-meta
      = avatar(User.find(current_user.id).email)
      %p.author
        = User.find(current_user.id).username
    .comment-time
      %p.time Add a comment now

  .comment-body
    = form_for Comment.new do |f|
      = hidden_field_tag 'polycomment_type', 'project'
      = hidden_field_tag 'polycomment_id',  @project.id.to_s
      .comment_field
        = f.text_field :body, :placeholder => 'Add your comment...'
      .submit
        = f.submit 



  
