- unless private_check
  = render 'permissions_error'
- else

  - content_for :title do
    = @project.name.titleize
    
  %article.project
    %header
      %h1.generated 
        = @project.name
      %h2 
        FIXME - Descriptions are private, so they won't show up here.
        /= @project.desc

    = render 'project_toolbar'
    = render 'images'
  
    - if @project.private and params[:xid] != @project.uniqueurl
      = link_to 'Unique link', @project.urlbase


    %section.comments
      = render partial: "comments/comment", collection: @comments
      = render partial: "comments/new", locals: {type: 'project', id: @project.id.to_s, ajax: @ajax, comment: @comment}







