- unless private_check and owner_check
  = render 'permissions_error'
- else

  - filename = params[:image_name]
  - content_for :title do
    = 'Update file'

  - content_for :pagetitle do
    = link_to @project.name.titleize, @project.urlbase
    \/
    = link_to filename, File.join(@project.urlbase, 'master', filename)
    \/
    = 'Update'

  = render 'shared/messages'
  = render 'project_toolbar'

  %br

  = form_tag file_update_project_path(@project), multipart: true do
    = file_field_tag "file" 
    = text_field_tag "message","commit message"
    = hidden_field_tag "image_name", params[:image_name]
    = submit_tag 

