- content_for :title do
  = @user.username.titleize


%article.project{ data: "projects"}
  %header
    %h1
      = avatar @user.email
      - unless @user == current_user
        #{@user.username}'s Projects
      - else
        My projects
    %h2
      = '@' + @user.username
      
  = render 'users/user_toolbar'
  = render 'shared/messages'

  - if @user != current_user && @projects.blank?
    %section
      .guide
        %p No Projects available for #{@user.username}

  - unless @projects.empty?
    %section.album
      %div
        - @projects.each do |project|
          %div
            %p
              %img{:src => "/usercover.jpg", :title => "Project Cover"}
              = link_to project.name, project.urlbase
              = render partial: 'forked_from', locals: {project: project}
              %br
              Last updated #{distance_of_time_in_words_to_now project.updated_at} ago
  - else
    %section
      .guide
        %p Create design projects on GlitterGallery to start collaborating with your circle.
        %form{action: "/projects/new"}
          %input{type: "submit", value: "Create first project!"}

