- content_for :title do
  = current_user.username.titleize

%article.user{ data: 'settings' }
  %header
    %h1
      = avatar current_user.email
      = current_user.username
    %h2
      = precede '@' do
        = current_user.username

  - @user = current_user
  = render 'users/user_toolbar'
  = render 'shared/messages'

  %section
    %div
      .option
        - @identities.each do |identity|
          %div
            = identity.provider
            = identity.uid
            = link_to 'Delete',
                              identity_path(identity.id),
                              method: 'delete',
                              data: { confirm: 'Are you sure?' }

        - @allowedmethods.each do |method|
          %div
            = link_to(method.to_s.capitalize, "/auth/#{method}")
      %aside
        %h1
          User Settings
        %nav
          %ul
            %li
              = link_to 'Profile', edit_user_registration_path
            %li.active
              = link_to 'Identities', identities_path
            -#
              %li
                = link_to 'SSH Keys', identities_path
              %li
                = link_to 'Projects', identities_path
