- content_for :title do
  = current_user.username.titleize

%article.user{ data: 'identities' }
  %header
    %h1
      = avatar current_user.email
      = current_user.username
    %h2
      = precede '@' do
        = current_user.username

  - @user = current_user
  = render 'users/user_toolbar'
  = render 'shared/messages'

  %section
    %div
      .option
        - @identities.each do |identity|
          %div
            = identity.provider
            = identity.uid
            = link_to 'Delete',
                              identity_path(identity.id),
                              method: 'delete',
                              data: { confirm: 'Are you sure?' }

        - @allowedmethods.each do |method|
          %div
            = link_to(method.to_s.capitalize, "/auth/#{method}")
      = render 'devise/registrations/user_aside'
