<% content_for :head do %>
   <%= stylesheet_link_tag :login -%>
<% end %>

<article>

  <header>
    <h1>GlitterGallery</h1>
    <h2>The open source pixelpub where awesome designers hangout.</h2>
  </header>

  <section>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	    <%= f.email_field :email, placeholder: "Your email", autofocus: true %>
	    <%= f.password_field :password, placeholder: "Your password", autocomplete: "off" %>
	    <%= f.submit "Login" %>
	  <% end %>
  </section>

  <section class="social">
  	<p><%=link_to('Sign up',new_registration_path(:user))%></p>
  	<a href="/auth/github"><p class="github">GitHub</p></a>
  	<a href="/auth/openid"><p class="openid">OpenID</p></a>
  </section>
        

</article> <!-- close central article -->
