<% content_for :head do %>
   <%= stylesheet_link_tag :style -%>
<% end %>

<article class="hero">

  <header>
    <h1>GlitterGallery</h1>
    <h2>The open source pixelpub where awesome designers hangout.</h2>
  </header>

  <section>
    <div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, placeholder: "Your email", autofocus: true %>
        <%= f.password_field :password, placeholder: "Your password", autocomplete: "off" %>
        <%= f.submit "Login" %>
      </form>
    <% end %>
  </section>

  <section class="social">
    <div>
      <form action="/auth/github" class="hide">
        <input type="submit" class="github" value="GitHub"></input>
      </form>
    </div>
    <div>
      <form action="/auth/facebook" class="hide">
        <input type="submit" class="facebook" value="Facebook"></input>
      </form>
    </div>
    <div>
      <form action="/auth/openid">
        <input type="submit" class="openid" value="OpenID"></input>
      </form>
    </div>
  </section>

</article> <!-- close central article -->