<h1>Edit glitterpost</h1>
 
<%= form_for @glitterpost do |f| %>
  <% if @glitterpost.errors.any? %>
  <div>
    <h2><%= pluralize(@glitterpost.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @glitterpost.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', glitterposts_path %>