.title
  Create a new glitterpost! #{link_to '(or go back to the Glitterposts)', glitterposts_path }
= form_for :glitterpost, url: glitterposts_path do |f|
  %p.input
    Title
    = f.text_field :title
  %p.input
    Content
    = f.text_area :content 
  %p.submit
    = f.submit  
  