!!! 5
%html
  %head
    %title
      GlitterGallery! 
      - if content_for?(:title)
        |
        = yield :title

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag

  %body{ :class => "#{controller.controller_name} #{controller.action_name} #{user_signed_in? ? 'logged_in' : 'not_logged_in'} #{yield :body_class}" }

    %header
      %h1.logo
        = link_to root_url do
          GlitterGallery

      %nav
        - if user_signed_in?
          %ul
            %li
              = link_to current_user.username + "'s dashboard", dashboard_path, :class => 'welcome'
            %li
              = link_to "New Project", new_project_path
            %li
              = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'logout'
            %li
              = link_to 'Account Settings', user_settings_path

        - else
          %ul
            %li
              = link_to 'Login', new_user_session_path, :class => 'login'

      = yield :header

    %section.content
      %header
        -# - if content_for? :prev_link
        -#   .prev
        -#     = yield :prev_link

        %h1.page-title
          = yield :pagetitle

        %nav.toolbar
          = yield :toolbar

      = render 'shared/messages'
      = yield

