!!! 5
%html
  %head
    %title
      GlitterGallery! 
      - if content_for?(:title)
        |
        = yield :title
    
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %script
      $(function() { jQuery('#glittercarousel').jcarousel({ wrap: 'circular'  }); });

  %body{ :class => "#{controller.controller_name} #{controller.action_name} #{user_signed_in? ? 'signed_in' : 'not_signed_in'} #{yield :body_class}" }

    %header
      %nav#user_nav
        - if user_signed_in?
          .welcome
            %span.msg
              welcome,
            %span.email
              = link_to current_user.email + '!', dashboard_path
          - if controller.controller_name != 'home'
            = link_to root_url do
              %h1.logo
                Glitter Gallery
          .right
            - if controller.controller_name != 'dashboard'
              = link_to 'Dashboard', dashboard_path 
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
        - else
          #login_prompt
            = link_to 'Sign in', new_user_session_path
            or
            = link_to 'Register', new_user_registration_path  

      = yield :header

    = yield
    
