!!! 5
%html
  %head
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %title
      GlitterGallery!
      - if content_for?(:title)
        |
        = yield :title

    = stylesheet_link_tag :application, media: 'all'

    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body{ class: set_body_class + "#{yield :body_class}" }

    = yield :header


    .wrapper
      %nav
        .left
          %img{ src: '/logo.svg' }
          #mobile-header
            %a#responsive-menu-button{ href: '#sidr-main' } Menu
        .right
          - if user_signed_in?
            = link_to avatar(current_user.email), (File.join '/', current_user.username)
            %span.username
              = link_to current_user.username, (File.join '/', current_user.username)
              = link_to 'logout', destroy_user_session_path, method: :delete, class: 'logout'
          - else
            %span.username
              = link_to 'Login', new_user_session_path, class: 'login'


      %aside.map#navigation
        .asidewrapper
          - if user_signed_in?
            %section
              %header
                = current_user.username.upcase
              %ul
                %li
                  %a{ href: '/users/edit' } Settings
                %li
                  %a{ href: '/notifications' } Notifications
            - unless @projects.empty? && current_user.followed_projects.empty?
              %section
                %header PROJECTS
                %ul
                  %li
                    %a{ href: '/projects/new' } New Project
                  %li
                    %a{ href: "/#{current_user.username}/projects" }
                      %span.count
                        = current_user.projects.count
                      My Projects

                  %li
                    %a{ href: projects_followed_user_path(current_user) }
                      %span.count
                        = current_user.followed_projects.count
                      Followed Projects
                -#
                  %li
                    %a{href: "/#{current_user.username}/projects"}
                      %span.count
                        /projects whose notifs haven't been read
                        /= current_user.starred_projects.count
                      Unread
                  %li
                    %a{href: "/projects/settings"}
                      Settings
            -#
              %section
                %header GLITTERPOSTS
                %ul
                  %li
                    %a{href: "/glitterposts/new"} Compose New
                  %li
                    %a{href: "/glitterposts"}
                      %span.count
                        /= current_user.glitterposts.count
                      My Glitterposts
                  %li
                    %a{href: "#"}
                      %span.count
                        / = current_user.glitterposts[draft=true]
                      Drafts
                  %li
                    %a{href: "#"}
                      %span.count
                        / = current_user.glitterpost_bookmarks
                      Bookmarks
                  %li
                    %a{href: "/glitterposts/settings"}
                      Settings
              %section
                %header DOODLES
                %ul
                  %li
                    %a{href: "/doodles/new"}
                      Doodle New
                  %li
                    %a{href: "#"}
                      %span.count
                        / = current_user.doodles.count
                      My Doodles
                  %li
                    %a{href: "#"}
                      %span.count
                        / = current_user.doodle[draft=true]
                      Drafts
                  %li
                    %a{href: "#"}
                      / = current_user.doodle_bookmarks
                      Bookmarks
              %section
                %header MEETINGS
                %ul
                  %li
                    %a{href: "/meetings/new"}
                      Schedule New
                  %li
                    %a{href: "#"}
                      %span.count
                        / = current_user.meetings[upcoming].count
                      Upcoming
                  %li
                    %a{href: "#"}
                      %span.count
                        / = current_user.meetings[past].count
                      Past
                  %li
                    %a{href: "/meetings/settings"}
                    Settings
          - else
            %section
              %header DEVELOPER
              %ul
                %li
                  %a{ href: 'http://github.com/glittergallery/GlitterGallery' }
                    Source
                %li
                  %a{ href: 'http://github.com/glittergallery/GlitterGallery/wiki' }
                    Wiki
                %li
                  %a{ href: 'http://github.com/glittergallery/GlitterGallery/issues' }
                    Contribute
                %li
                  %a{ href: 'http://github.com/glittergallery/GlitterGallery/issues/new' }
                    Report Issue
                  / close left aside
                  / Use article for central content

      = yield


      %aside.widget
        .asidewrapper
          - if user_signed_in?
            - unless current_user.projects.empty?
              %section
                %header
                  %h1 MY RECENT PROJECTS
                  %h2 Last updated yesterday
                %article
                  %ul
                    - current_user.projects.each do |project|
                      %li
                        - if project.private
                          %span.badge.type{ title: 'Private Project' } PRV
                        - else
                          %span.badge.type{ title: 'Public Project' } PUB
                        = link_to project.name, project.urlbase

          - else
            %section
              %header
                %h1 WHAT'S AWESOME
                %h2 Awesome stuff people are doing.
              %article
                %ul
                  %li
                    %a{ href: 'https://github.com/fedoradesign/nextweb-assets' }
                      Fedora.next Website Assets
                  %li
                    %a{ href: 'https://github.com/fedoradesign/fedoramagazine-images' }
                      Fedora Magazine Images
                  %li
                    %a{ href: 'https://github.com/fedoradesign/mockups-getfedora' }
                      New getFedora Mockups

            %section
              %header
                %h1 BLOG
                %h2 News from GG town.
              %article
                %ul
                  %li
                    %a{ href: 'http://www.glittergallery.net/status' }
                      GlitterGallery's current status
                  %li
                    %a{ href: 'https://github.com/glittergallery/GlitterGallery/issues' }
                      Open Issues
                  %li
                    %a{ href: 'http://www.glittergallery.net/blog' }
                      GlitterBlog

            %section
              %header
                %h1 MORE NEWS
                %h2 A little more won't hurt, promise.
              %article
                %ul
                  %li
                    %a{ href: 'http://planet.fedoraproject.org/design/' }
                      Fedora Design Planet
                  %li
                    %a{ href: 'https://fedoraproject.org/wiki/FAD_DesignTeam_2014' }
                      Fedora Design Team FAD
                  %li
                    %a{ href: 'https://lists.fedoraproject.org/pipermail/design-team/' }
                      Fedora Design Archives
